[Desktop Entry]
Name=WAYBLOX Updater
Comment=Update WAYBLOX silently
Exec=~/Documents/WAYBLOX/Game/update-linux.sh
Icon=dialog-information
Terminal=false
Type=Application
