[Desktop Entry]
Name=WAYBLOX Updater
Comment=Update WAYBLOX silently
Exec=~/Documents/WAYBLOX/Game/update-linux.sh
Icon=~/Documents/WAYBLOX/Game/content/custom/icons/ModdedIcon.png
Terminal=false
Type=Application
